body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #3c486b;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 8px 12px;
  background-color: #f45050;
  cursor: pointer;
  font-weight: bold;
}
